<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>📷 {{ roll_number }} - {{ camera }} {{ film }}</title>
    <style>
      body {
        font-family: ia-writer-duo, ui-monospace, SFMono-Regular, Menlo, Monaco, monospace;
      }
      section {
        margin-left: 30px;
        min-width: 50vw;
        max-width: 70vw;
      }
      img {
        object-fit: cover;
        width: 100%;
      }
      .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: masonry;
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
      }
      h1, h2 {
        margin-bottom: 0;
        margin-top: 8px;
      }
      header {
        margin: 30px 0;
      }
      .roll_number {
        font-style: italic;
        color: #ccc;
      }
		</style>
  </head>
	<body class="container ml-8">
		<section class="flex flex-col py-4" id="roll_{{ roll_number }}">
      <header>
        <span class="roll_number" >#{{ roll_number }} - {{ scanned_at }}</span>
        <h1 class="text-xl font-light font-serif">📷 {{ camera }}</h1>
        <h2 class="text-xl font-light font-serif">🎞  {{film }}</h2>
      </header>
			<div class="grid">
				{% for file in files %}
					<img src="{{ file }}" />
				{% endfor %}
			</div>
		</section>
	</body>
</html>
